@(unionid:String)(iswx:Integer)(fromphone:String)(sign:WxSign)@views.html.H5.FreeTwo.main{
<title>828嗨个购大学海淘节</title>
}{
<div class="container">

           <div class="banner">

              <img src="@assets.CdnAssets.urlForAPIPublic("images/H5/freetwo/banner.jpg")" />

           </div>

           <div class="content">              

              <div class="input-wrap">

                 <input type="tel" id="phone" name="phone" class="input" placeholder="请输入手机号" />

              </div>
			<div class="input-wrap">
                 <div class="input-code">                   
                   <p><input type="text" id="imgcheck" name="imgcheck" class="input input-w" placeholder="输入验证码" /></p>
                   <span class="img_code"><img alt="点击图片可刷新" onclick="this.src='@routes.Application.imageValidate?temp='+ (new Date().getTime().toString(36));" src="@routes.Application.imageValidate?temp=h68w3wf2" id="validateImage"  /></span>
                 </div>
              </div>
              <div class="input-wrap">
                 <div class="input-code">                   

                   <p><input type="tel" id="verify_sms" name="verify_sms" class="input input-w" placeholder="输入验证码" /><a href="javascript:;" class="btn btn_code"><span id="sendsms" name="sendsms" onclick="verifySMS()">发送验证码</span></a></p>                   
				
                 </div>
              </div>
              <div class="input-wrap">

                 <input type="submit" class="btn" value="马上抢好礼 " onclick="checkuser()">

              </div>               

           </div>

           <div class="explain">

              <img src="@assets.CdnAssets.urlForAPIPublic("images/H5/freetwo/01.jpg")" />
			<div class="explain-1">
              <p>

                1.活动时间：8.25-8.27。<br>
				2.活动券为随机发放。<br>
				3.每人仅限领取一次。<br>
				4.本活动最终解释权归嗨个购所有。
              </p>
             </div>

           </div>

           <div class="foot">

              <img src="@assets.CdnAssets.urlForAPIPublic("images/H5/freetwo/foot.jpg")">

           </div>

           <div class="opacity"></div>

           <div class="pup-prize">

              <p>

                <img src="@assets.CdnAssets.urlForAPIPublic("images/H5/freetwo/pup-prize.png")"/>

              </p>

              <p>

                <em>恭喜你免费获得</em><br>

               <span id="proget"></span>                

              </p>

              <p>

                <a href="javascript:;" id="pup-prize-btn" class="btn btn_border" onclick="golist()">确&nbsp;定</a>

              </p>

              <p>

                优惠券使用时间<br>

                8月28日—8月30日



              </p>

           </div> 

        </div>
}{
<script src="@assets.CdnAssets.urlForAPIPublic("javascripts/sheSaidJs/alert.js")"></script>
<script>
	var rphone;
	var reg = /^1\d{10}$/g; 
	var miao = 60;
	function verifySMS(){    	
		miao=60;
		var pho=document.getElementById("phone").value;  
		var imc=document.getElementById("imgcheck").value;
		rphone=pho;
		if ($("#phone").val().match(/^((1[0-9]{1})+\d{9})$/)) {
			if($("#imgcheck").val().length==4){
				//alert("ok");
				time_op();
				 $.ajax({
		        //提交数据的类型 POST GET
		        type:"POST",
		        //提交的网址
		        url:"/H5/userVerify",
		     	//提交的数据
	            data:{uid:"0",phone:pho,reg:"0",imgcheck:imc},
	            //返回数据的格式
	            datatype: "json",//"xml", "html", "script", "json", "jsonp", "text".
		        //在请求之前调用的函数
		        beforeSend:function(){},
		        //成功返回之后调用的函数            
		        success:function(data){                           
		      		if(data.status=="1"){
		      			_alert("验证码已成功发送!");
		      		}else{
		      			_alert(data.msg);
		      		}
		        }   ,
		        //调用执行后调用的函数
		        complete: function(XMLHttpRequest, textStatus){
		        },
		        //调用出错执行的函数
		        error: function(){
		            //请求出错处理
		            _alert("发送失败!");
		        }        
		     	});   
			}
			else
				{
					_alert("请输入图形验证码!");
					return false;
				}
	     }
	     else{
	    	 _alert("请输入正确的手机号!");
				return false;
	     }
	}
	
	
	function time_op() {
		miao--;
		if(miao>0){
			document.getElementById("sendsms").innerHTML = "发送中"+miao+"s";
			document.getElementById("sendsms").onclick="";
		}
		else
		{	
			document.getElementById("sendsms").innerHTML = "重新发送";
			document.getElementById("sendsms").onclick=function(){verifySMS();};
		}
		if(miao>0){
			setTimeout("time_op()", "1000");
		}
	}
	function checkuser(){
    	var pho=document.getElementById("phone").value;  	
    	//alert(pho);
    	var ver=document.getElementById("verify_sms").value;
    	var suc=true;
    	if (!$("#phone").val().match(/^1\d{10}$/g)) {
    		_alert("请输入正确的手机号");
    		suc=false;
    	}
    	else{
	    	if(ver.length<1){
	    		suc=false;
	    		_alert("请输入验证码")
	    	}
    	}
    	if(suc){
    		addpro();  	
         }
    }		   
	
	function addpro(){
		var vsms=document.getElementById("verify_sms").value;
		var pho=document.getElementById("phone").value;
		//alert('@unionid');
		$.ajax({
            //提交数据的类型 POST GET
            type:"POST",
            //提交的网址
        url:"/H5/savefreetwo",
        //提交的数据
        data:{phone:pho,unionid:'@unionid',fromphone:'@fromphone',vsms:vsms},
            //返回数据的格式
            datatype: "json",//"xml", "html", "script", "json", "jsonp", "text"
            //在请求之前调用的函数
            beforeSend:function(){},
            //成功返回之后调用的函数            
            success:function(data){
          		if(data.status=="1"){
          			//返回成功数据
          			document.getElementById("proget").innerHTML=data.msg;
          			$('.opacity,.pup-prize').fadeIn('slow');
          		}
          		else if(data.status=="-2"){
          			_alert(data.msg);
          			setTimeout(function(){

          				window.location.href='/H5/freetwolist?iswx=@iswx';

					},2000)
          		}
          		else{
          			_alert(data.msg);
          		}
          		//else{
          		//	//进赠送列表;
          		//	$('.opacity,.pup-prize').style='display:none;';
          		//	window.location.href='/H5/freelist?iswx=@iswx&fp=@fromphone&unionid=@unionid';
          		//	//_alert(data.msg);
          		//}
            }   ,
            //调用执行后调用的函数
            complete: function(XMLHttpRequest, textStatus){
            },
            //调用出错执行的函数
            error: function(){
                _alert("请检查网络是否通畅!");
            }        
         });  
	}	
	
	function golist(){
		window.location.href='/H5/freetwolist?iswx=@iswx';
	}

		   //处理4S、4问题

		   var winH = $(window).height();

		   if( winH < 460 ) {

			   $('input').bind('click',function(e){

					var $this = $(this);

					e.preventDefault();

					setTimeout(function(){

						$(window).scrollTop($this.offset().top - 10);

					},200)

				})

		   }

        </script> 
<!-- 微信分享 -->
@if(sign!=null){
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
  wx.config({
    debug: false,
    appId: '@sign.getAppId()',
    timestamp: '@sign.getTimstr()',
    nonceStr: '@sign.getNostr()',
    signature: '@sign.getSign()',
    jsApiList: ['checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage'
    ]
  });
	wx.ready(function () {
    // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
		wx.checkJsApi({
		  jsApiList: [
			'getNetworkType',
			'previewImage'
		  ],
		  success: function (res) {
			//alert(JSON.stringify(res));
		  }
		});
		wx.onMenuShareTimeline({
		    title: '@sign.getSharetitle()', // 分享标题
		    link: '@sign.getShareurl()', // 分享链接
		    imgUrl: '@sign.getShareimg()', // 分享图标
		    success: function () { 
		        // 用户确认分享后执行的回调函数
		    },
		    cancel: function () { 
		        // 用户取消分享后执行的回调函数
		    }
		});

		wx.onMenuShareAppMessage({
			  title: '@sign.getSharetitle()',
			  desc: '@sign.getSharecontent()',
			  link: '@sign.getShareurl()',
			  imgUrl: '@sign.getShareimg()',
			  success: function (res) {
				//alert('已分享');
				  $('.opacity,.pup-tip').fadeOut("slow");
			  },
			  cancel: function (res) {
				//alert('已取消');
			  }
		  });
  });
  wx.error(function (res){
		//alert(res.errMsg);
  });
</script>
}         
}