<!doctype html>
<html>    

    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />

        <meta name="format-detection" content="telephone=no" />

        <meta name="format-detection" content="email=no" />

        <meta name="format-detection" content="address=no;">

        <meta name="apple-mobile-web-app-capable" content="yes" />

        <meta name="apple-mobile-web-app-status-bar-style" content="default" />             
        <title></title>
<script>
var gourl=location.href.split('#')[0];
if(gourl.length>0){
	gourl=gourl.replace("http://h5.higegou.com","http://h5.higegou.com");
	window.location.href=gourl;
}
</script>
    </head>
<body></body>
</html>