 @charset "utf-8";

/* base */

body,ol,ul,h1,h2,h3,h4,h5,h6,p,div,th,td,dl,dd,form,fieldset,legend,input,textarea,select{ margin:0px; padding:0px; box-sizing: content-box;}
body{font:14px/22px Microsoft YaHei,helvetica,arial;-webkit-text-size-adjust:100%; background:#fff; color:#303030;max-width:640px;margin: 0 auto;}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
  margin:0px; padding:0px; box-sizing: content-box;
}
h1,h2,h3,h4,h5,h6,i,samp,strong,span,a,li{;font-size:inherit; font-weight:normal;}
address,cite,code,em,th,i{font-weight:normal; font-style:normal;} 
a{color:#2d374b;text-decoration:none;}
a:hover{text-decoration:none;}
li{list-style:none}
img{border:0;vertical-align:middle;}
table{border-collapse:collapse;border-spacing:0}
p{word-wrap:break-word;}
textarea{resize:none;}
fieldset {border: none;}
label,a,button,input,textarea{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font:14px/22px Microsoft YaHei,helvetica,arial;
	border:none;
	outline:none;
    -webkit-appearance: none;
    -webkit-box-sizing: content-box;
}

																																																							
/*按钮*/			
.btn{
	display:inline-block;
	width:76%;
	background:#ff314e;
	border-radius:6px;
	padding:10px 0;
	line-height:20px;
	font-size:16px;
	color:#fff;
	font-weight:800;
	text-align:center;
	-webkit-appearance: none;
    -webkit-box-sizing: content-box;
	}		

a.btn:visited,a.btn:active,a.btn:link{
	color:#fff;
	}					
.btn_white{
	background: none;
	border:1px solid rgba(255,255,255,.5);
	}
.container{
	}
/**/
.input{
	padding:10px 0;
	width:76%;
	border-radius:6px;
	line-height:20px;	
	text-align:center;
	}	
/*首页*/
.index{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(/public/images/usernew/index.jpg) no-repeat center bottom;
	background-size:100%;
	text-align:center;
}
.index img{
	width:100%;
	}
.index p{
	padding-bottom:10px;
	color:#FFF;
	}

/*邀请登录*/
.receive,.digitalbg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:auto;
	background:url(/public/images/usernew/bg1.jpg) no-repeat center bottom #816a6c;
	background-size:100%;
	text-align:center;
}
.receive img{
	width:100%;
	max-width:640px;
	}
.receive p{
	padding-bottom:10px;
	color:#FFF;
	}
.receive p:last-child{
	font-size:15px;
	}
.receive p:last-child{
	padding-bottom:45px;
	}	
.digitalbg{
	background:url(/public/images/usernew/bg2.jpg) no-repeat center bottom #816a6c;
	background-size:100%;
	}	
.digital{
	height:105px;
	width:218px;
	background:url(/public/images/usernew/digital.png) no-repeat center bottom;
	background-size:100%;
	margin:38px auto 0;
	overflow:hidden;
	}
.digital p{
	font-size:66px;
	color:#fff;
	line-height:80px;
	padding:12px 0 0 70px;
	}	
.digital img{
	width:100%;
	}
	
.digitalbg img{
	width:100%;
	max-width:640px;
	}	
.digital_txt{
	color:#FFF;
	padding:10px 0 15px;
	}	
.banner-3{
	margin-bottom:70px;
	}
.speak p{
	padding: 0 20px 30px;
	font-size:14px;
	color:#85888d;
	}	
.speak h2{
	display:block;
	padding:15px 0 5px;
	color:#303030;
	font-size:20px;
	text-align:center;
	}
.speak b{
	display:inline-block;
	width:100%;
	font-size:14px;
	color:#303030;
	line-height:40px;
	font-weight:400;
	}
.speak img{
	width:100%;
	}
.speak em{
	color:#ff374d;
	}
/*提示*/
.pup{
	position:fixed;
	bottom:-50px;
	left:5%;
	width:90%;
	background:rgba(0,0,0,.6);
	border-radius:6px;
	color:#FFF;
	opacity:0;
	transition: all .4s;
	}
.pup_info{
	padding:10px 15px;
	text-align:center;
	}
.pup_show{
	opacity:1;
	bottom:70px;
	}
											
	
	
												