@(coupon:String)(wx:WxSign)(luck:LuckDraw)@views.html.H5.act1.main{
<title>嗨个购抽奖送礼</title>
}{
<div class="digitalbg">
           <div class="digital">
               <p>@coupon</p>
            </div>
            <p class="digital_txt">
                您获得了免单机会！<br> 
                此外，还幸运获得了优惠券，<br> 
                可以直接换取全球好东东<br>   
            </p>
            <p><a href="http://dwz.cn/BDTux" class="btn" onclick="downdata()">去嗨个购抢好东东</a></p>
        </div>
}{
<script src="@assets.CdnAssets.urlForAPIPublic("javascripts/sheSaidJs/count.js")"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
var counturl = location.href.split('#')[0];
function downdata(){
	addcount('',counturl,'0','1','friendsharedown','@luck.getUnionid()');
}
  wx.config({
    debug: false,
    appId: '@wx.getAppId()',
    timestamp: '@wx.getTimstr()',
    nonceStr: '@wx.getNostr()',
    signature: '@wx.getSign()',
    jsApiList: ['checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage'
    ]
  });
	wx.ready(function () {
    // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
		wx.checkJsApi({
		  jsApiList: [
			'getNetworkType',
			'previewImage'
		  ],
		  success: function (res) {
			//alert(JSON.stringify(res));
		  }
		});
		wx.onMenuShareTimeline({
		    title: '@wx.getSharetitle()', // 分享标题
		    link: '@wx.getShareurl()', // 分享链接
		    imgUrl: '@wx.getShareimg()', // 分享图标
		    success: function () { 
		        // 用户确认分享后执行的回调函数
		    	//添加统计
				addcount('',counturl,'0','1','friendshare','@luck.getUnionid()');
		    },
		    cancel: function () { 
		        // 用户取消分享后执行的回调函数
		    }
		});

		wx.onMenuShareAppMessage({
			  title: '@wx.getSharetitle()',
			  desc: '@wx.getSharecontent()',
			  link: '@wx.getShareurl()',
			  imgUrl: '@wx.getShareimg()',
			  success: function (res) {
				//alert('已分享');
				//添加统计
				addcount('',counturl,'0','1','friendshare','@luck.getUnionid()');
			  },
			  cancel: function (res) {
				//alert('已取消');
			  }
		  });
  });
  wx.error(function (res){
		//alert(res.errMsg);
  });
</script>  
}