@views.html.H5.newuser.main{

<title>代言费规则说明</title>

}{
<div class="speak">

           <img src="@assets.CdnAssets.urlForAPIPublic("images/usernew/banner-1.jpg")"/>

           <h2>代言费规则说明</h2>           

           <p>

             <b>1.什么是代言费</b>

             代言费指通过“大明星”分享链接购买的订单，嗨个购支付给“大明星”的佣金。<br>

             <b>2.什么是锁定资金</b>

             当用户购买了代言的商品，该资金会进入您的锁定资金中。<br>

             待用户收到商品，且过了收货后7天退货期，资金解锁进您的可用资金中。您可以进行<em>提现和消费。</em><br>

             如果用户在收到货后进行退款，该笔金额不能进入您的可用资金，锁定资金将扣除此部分金额。<br>

             <b>3.什么是可用资金</b>

             可用资金为可以在“钱包”中进行消费和提现的金额。<br>

             <b> 4.什么是累计收益</b>

             累计收益为代言费的累计之和。<br>

           </p>

        </div>  
}{
}
