<!doctype html>

<html>    

    <head>

        <meta charset="utf-8">

        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />

        <meta name="format-detection" content="telephone=no" />

        <meta name="format-detection" content="email=no" />

        <meta name="format-detection" content="address=no;">

        <meta name="apple-mobile-web-app-capable" content="yes" />

        <meta name="apple-mobile-web-app-status-bar-style" content="default" />

        <link rel="stylesheet" type="text/css" href="@assets.CdnAssets.urlForAPIPublic("stylesheets/sheSaidCSS/baseapp.css")" media="all">

        <title>

            嗨个购大明星申请

        </title>

    </head>



    <body>

        <div class="container">

           <img src="@assets.CdnAssets.urlForAPIPublic("images/sheSaidImages/top.png")">

           <img src="@assets.CdnAssets.urlForAPIPublic("images/sheSaidImages/quote01.png")" class="quote01"> 

           <p>

              醒着的的生活是如此美好，<br>

              为何要把时间浪费在做梦上呢？<br><br>              

              现在起，<br>

              没必要去羡慕谁 ,你有你的傲娇！<br>

              没必要去模仿谁, 你有你的闪光！<br><br>

              嗨个购大明星， <br>

              我们从不争宠，因为我们时刻被宠！<br>

           </p>

           <img src="@assets.CdnAssets.urlForAPIPublic("images/sheSaidImages/quote02.png")" class="quote02"> 

           <p>

              <b>如何成为<br>嗨个购大明星？</b><br><br>

              有眼光，有想法，满满正能量！<br>

              懂美妆，懂生活，喜欢分享！<br>

           </p>

           <h2 class="tit">成为嗨个购大明星后将有什么特权？</h2>

           <div class="cont">

             <h2><img src="@assets.CdnAssets.urlForAPIPublic("images/sheSaidImages/label-1.png")" alt="">你代言，TA享受</h2>

             <p>
               明星用户代言的商品，好友在微信购买，还能享<br>
               受直减金额。<br>
             </p>

             <h2><img src="@assets.CdnAssets.urlForAPIPublic("images/sheSaidImages/label-2.png")" alt="">做嗨个购大明星，赚取代言费</h2>

             <P>
               当你的好友在微信里购买了你代言的商品，你就<br>
               会获得对应“代言费”。<br>             
             </P>

             <h2><img src="@assets.CdnAssets.urlForAPIPublic("images/sheSaidImages/label-3.png")" alt="">获得新品免费试用</h2>

             <P>
               每个月都会选取优秀代言人，获得嗨个购提供的<br>
               新品免费试用权利。<br><br><br>
             </P>            

           </div> 

          <p>
              曾经<br>
              你的努力是为了拉高颜值<br>
              现在我们的努力<br>
              是为了让你的颜值得到价值<br><br>
           </p>

           <img src="@assets.CdnAssets.urlForAPIPublic("images/sheSaidImages/quote03.png")" class="quote03"> 

        </div>  

    </body>



</html>