<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="address=no;">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  </head>
<title>页面出错</title>
<script type="text/javascript" src="@assets.CdnAssets.urlForAPIPublic("javascripts/sheSaidJs/noShareWX.js")"></script>
<style>
          body{
			  margin:0;
			  padding:0;
			  text-align:center;
			  max-width:640px;
			  margin: 0 auto;
			  backgound:#fff;
			  }
		 img{
			 width:100%;
			 } 	  
        </style>
<body>
<div>
            <img src="@assets.CdnAssets.urlForAPIPublic("images/sheSaidImages/404.jpg")">
         </div>
</body>
</html>
